/* Reset & Global */
* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  font-family: Arial, sans-serif;
  /* line-height: 1.6; */
  background-color: #f7f7f7;
  color: #333;
}

main,
header,
section {
  max-width: 1500px;
  margin: 0 auto;
}

/* Navbar */
#navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
}

#nav-logo {
  display: flex;
  align-items: center;
}

#nav-logo-img {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0066cc;
  border-radius: 24px;
  width: 34px;
  text-align: center;
  padding: 5px;
}

#nav-logo-text {
  margin-left: 8px;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

#menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-right: 50px;
  gap: 20px;
}

#menu ul li {
  margin-left: 20px;
}

#menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
}

#menu ul li a:hover {
  color: #0066cc;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background-color: #f7f7f7;
  gap: 60px;
}

.header-text {
  flex: 1;
  max-width: 50%;
}

.header-text h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.3;
}

.header-text p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
}

header button {
  padding: 14px 30px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

header button:hover {
  background-color: #004c99;
}

.header-image img {
  max-width: 100%;
  height: auto;
  max-height: 560px;
}

/* Our services section */
#our-services {
  text-align: center;
  padding: 80px 40px;
  background-color: #f7f7f7;
  align-items: center;
}

#our-services h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

#our-services hr {
  border-color: #e0e0e0;
  width: 60px;
  align-items: center;
  margin: 0 auto 30px;
  border: 2px solid #000;
}

#our-services p {
  font-size: 1.5rem;
  color: #666;
  width: 60%;
  text-align: center;
  margin: 0 auto 40px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}

.service-card {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.service-card h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 1rem;
  color: #777;
}

#our-services button {
  padding: 12px 25px;
  color: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 50px;
  background: transparent;
}

#our-services button:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Leading Healthcare Section */
#leading-healthcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 40px;
  background-color: #f7f7f7;
  gap: 80px;
}

.leading-img {
  max-width: 100%;
  height: auto;
}

.leading-title {
  font-size: 2.7rem;
  margin-bottom: 15px;
}

.leading-hr {
  width: 60px;
  height: 3px;
  background-color: #000000;
  border: none;
  margin-bottom: 20px;
}

.leading-description {
  font-size: 1.3rem;
  color: #666;
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 600px;
}

.leading-btn {
  padding: 12px 25px;
  color: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
}

.leading-btn:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Download Section */
#download-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 40px;
  background-color: #f7f7f7;
  gap: 80px;
}

.download-img {
  max-width: 100%;
  height: auto;
}

.download-title {
  font-size: 3rem;
  margin-bottom: 15px;
}

.download-hr {
  width: 60px;
  height: 3px;
  background-color: #000000;
  border: none;
  margin-bottom: 20px;
}

.download-description {
  font-size: 1.5rem;
  color: #666666;
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 500px;
}

.download-btn {
  padding: 12px 25px;
  color: #0066cc;
  border: 1px solid #0066cc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.download-btn:hover {
  background-color: #0066cc;
  color: #fff;
}

.download-icon {
  width: 16px;
  height: 16px;
}

/* Customer Section */
#customers {
  margin: 0 50px;
}

#customer {
  border-radius: 24px;
  background: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);

  margin: 120px auto;
  padding: 60px 40px;
  text-align: center;
  color: #fff;
}

#customer-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

#customer hr {
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  border: none;
  margin: 0 auto 40px;
}

#customer-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

#customer-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

#customer-profile p {
  text-align: left;
  padding-top: 10px;
}

#customer-comment {
  max-width: 500px;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  margin-top: 10px;
}

#customer-img {
  position: absolute;
  z-index: 10;
  margin-left: -160px;
  margin-top: 100px;
}

/* Article Section */
#article {
  text-align: center;
  padding: 100px 0;
}

.article-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.article-line {
  width: 60px;
  margin: 0 auto 40px;
  border: 2px solid #000;
}

.article-row {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.article-card {
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.article-card:hover {
  transform: translateY(-10px);
}

.article-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.article-card h2 {
  margin-bottom: 10px;
  padding: 10px 0;
}

.article-card p {
  color: #666;
  margin-bottom: 15px;
}

.read-more {
  color: #3a7bd5;
  text-decoration: none;
  font-weight: bold;
}

.view-all {
  margin-top: 50px;
}

.view-all button {
  border: 1px solid #3a7bd5;
  background: transparent;
  padding: 10px 20px;
  border-radius: 30px;
  color: #3a7bd5;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.5em;
}

.view-all button:hover {
  background: #3a7bd5;
  color: #fff;
}

/* Footer */
#footer {
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  color: #fff;
  padding: 40px 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* width: 100%; */
}

#footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

#footer-logo h1 {
  font-size: 30px;
  font-weight: bold;
  color: #0066cc;
  background-color: #ffffff;
  border-radius: 30px;
  width: 48px;
  text-align: center;
  padding: 2px;
}

#footer-logo h2 {
  font-size: 1.7em;
}
#footer-description {
  max-width: 400px;
  font-size: 1.2em;
  line-height: 1.6;
  color: #fff;
}
#footer-description p {
  margin-top: 15px;
}
.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.footer-links ul li strong {
  font-size: 1.3em;
  display: block;
  margin-bottom: 15px;
}
